/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
    --bg-image: url(../images/cover-image-dark.png);
  --topic-text-color: #f1b2ce;
  --accent-color: #ff0070;
   --accent-color-rgb: 255, 0, 112;
  --hero-title-color: #DB00FF;
  --shadow-color: #FF0070;
  --bg-color: #000028;
  --desc-color: #000028;
  --deco-color: #FF0070;
}

@media(prefers-color-scheme: dark){
  :root.theme-auto {
    --bg-image: url(../images/cover-image-dark.png);
  --topic-text-color: #f1b2ce;
  --accent-color: #ff0070;
   --accent-color-rgb: 255, 0, 112;
  --hero-title-color: #DB00FF;
  --shadow-color: #FF0070;
  --bg-color: #000028;
  --desc-color: #000028;
  --deco-color: #FF0070;
}
}