/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --topic-text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-color-rgb: 50, 49, 45;
  --hero-title-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --bg-color: #fbeff6;
  --desc-color: #353430;
  --deco-color: #353430;
  --outline-color-rgb: 50, 49, 45;
  .deco {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --bg-image: url(../images/cover-image-light.png);
    --topic-text-color: #353430;
    --accent-color: #ff8dcb;
    --accent-color-rgb: 50, 49, 45;
    --hero-title-color: #ffc2e6;
    --shadow-color: #ff8dcb;
    --bg-color: #fbeff6;
    --desc-color: #353430;
    --deco-color: #353430;
    .deco {
      display: none;
    }
  }
}
