/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  font-family: "IBM Plex mono", sans-serif;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-color: var(--bg-color);
  margin: 10px;
  max-width: 100%;
}

.decorated-zone::before {
  /*уголок верхний*/
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--deco-color);
  border-right: 1px solid var(--deco-color);
  right: 0;
  top: 0;
  pointer-events: none;
}

.decorated-zone::after {
  /*нижний уголок*/
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--deco-color);
  border-left: 1px solid var(--deco-color);
  pointer-events: none;
}

.app {
  /**обертка для основного грида**/
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.deco {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-size: 18px;
  margin-right: 9px;
  row-gap: 10px;
  line-height: 1;
  pointer-events: none;
  margin-top: 4px;
  position: absolute;
}

.deco::after {
  /*размытая точка*/
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: var(--shadow-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--shadow-color);
  align-self: center;
  pointer-events: none;
  top: 9px;
}

.header {
  grid-area: header;
  position: relative;
  display: grid;
  min-height: calc(668px - 20px);
  height: 95vh;
  align-content: start;
  grid-template-rows: 1fr auto auto 1fr;
  grid-template-columns: 2fr 1fr;
  padding: 0;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-self: end;
  grid-row: 1;
  grid-column: 2;
  height: 100%;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: auto;
  padding: 0;
  height: auto;
}

.header__theme-menu-button {
  background-color: transparent;
  font-family: inherit;
  color: var(--deco-color);
  font-size: 18px;
  font-weight: 400;
  border: none;
  text-transform: lowercase;
  padding: 1.5px 13px;
  display: flex;
  align-self: center;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--deco-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: var(--deco-color) 1px solid;
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--accent-color-rgb), 0.4);
}

.hero {
  display: contents;
}

.main {
  grid-area: main;
  padding-bottom: 50px;
}

.hero-title {
  /*no focus и focus*/
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--hero-title-color);
  text-shadow: var(--shadow-color) 4px 4px;
  grid-column: 1 / -1;
  grid-row: 2 / 4;
  align-self: center;
  margin: 0;
}

.hero-description {
  background-color: var(--accent-color);
  color: var(--desc-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  align-self: center;
}

.block-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--deco-color);
  margin-top: 50px;
  margin-bottom: 20px;
}

.topic-title {
  background-color: var(--accent-color);
  color: var(--desc-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.picture-section {
  margin-top: 50px;
}

.topic-text {
  color: var(--topic-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  margin: 0;
}

.text-link {
  text-decoration: none;
  color: var(--topic-text-color);
  text-shadow: var(--shadow-color) 3px 2px;
}

.text-link:hover {
  outline: none;
  border-bottom: var(--topic-text-color) solid 1px;
}

.text-link:focus-visible {
  outline: 1px solid var(--topic-text-color);
}

.advice-pictures {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advice-title {
  font-weight: 400;
}

.advice-picture-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  grid-area: footer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(668px - 20px);
  height: 95vh;
}

.footer-title {
  text-shadow: var(--shadow-color) 4px 4px;
  margin: 0;
  text-align: center;
}

@media (width>=768px) {
  .page {
    margin: 20px;
  }

  .app {
    grid-area: unset;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto;
  }

  .deco {
    position: absolute;
    top: 0;
    right: 0;
  }

  /* ---------HEADER и HERO------------*/
  .header {
    grid-area: unset;
    grid-column: 1 / -1;
    grid-row: 1;
    display: grid;
    min-height: calc(1024px - 40px);
    height: 95vh;
    grid-template-columns: subgrid;
    grid-template-rows: 1fr auto 1fr;
    align-content: start;
  }

  .header__theme-menu {
    grid-column: 5 / 7;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-self: end;
    height: 100%;
  }

  .header__theme-menu-list {
    margin: auto 0;
    height: auto;
  }

  header .hero-title {
    /*сдвигает только no focus*/
    margin-left: -20px;
  }

  .hero-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin: 0;
    align-self: center;
  }

  .hero-description {
    grid-column: 4 / 7;
    grid-row: 3;
    align-self: end;
    margin: auto;
    height: auto;
  }
  /*-------------------------------*/

  /* -----------MAIN С ТЕКСТОМ --------------*/
  .main {
    grid-area: unset;
    grid-column: 1 / -1;
    grid-row: 2;
    padding-bottom: 70px;
  }

  .content-section {
    /*тематитеский блок с темой block-title и подтемой topic-title*/
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    align-items: start;
    margin-top: 80px;
  }

  .content-section {
    margin-top: 80px;
  }

  .content-section:nth-child(3) {
    margin-top: 60px;
  }

  .block-title {
    grid-column: 1;
    grid-row: 1 / -1;
    align-self: start;
    margin: 0;
  }

  .topic-title {
    grid-column: 2;
  }

  .topic-title:first-child {
    margin-top: 0;
  }

  .topic-title + .topic-text + .topic-title {
    margin-top: 20px;
  }

  .topic-text {
    grid-column: 2;
    margin: 0 0 20px 0px;
    padding: 0;
  }
  /*-------------------------------------------------*/

  /*--------Что снижает концентрацию внимания?------- */
  .special-content-section {
    /*тематический блок с особым оформлением*/
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    align-items: start;
    margin-top: 60px;
  }

  .special-content-section .block-title {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .special-content-section-inner {
    /*содержимое .special-content-section кроме block-title*/
    display: grid;
    grid-column: 1/ -1;
    grid-row: span 2;
    grid-template-columns: 1;
    grid-template-rows: auto;
  }

  .advice-title {
    font-weight: 400;
    margin-bottom: 10px;
  }

  /*----------------------------------------------------*/

  /*--------СЕКЦИЯ С КАРТИНКАМИ---------*/
  .picture-section {
    grid-column: 2;
    margin-top: 60px;
  }

  .picture-section .topic-title {
    grid-column: auto;
    grid-row: auto;
    margin: 0 0 20px 0;
    width: 100%;
  }

  .advice-pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .advice-pictures img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .advice-pictures img:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .advice-pictures img:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2/4;
  }

  .advice-pictures img:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .advice-pictures img:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3;
  }
  /*----------------------------------------------------*/

  .footer {
    grid-area: unset;
    grid-column: 1 / -1;
    grid-row: 3;
    min-height: calc(768px - 40px);
    height: 95vh;
    margin-top: 10px;
  }
}

@media (width >= 1024px) {
  /* ---------HEADER и HERO------------*/

  .header {
    min-height: calc(768px - 40px);
    height: 95vh;
  }

  .header__theme-menu {
    grid-column: 1 / -1;
    grid-row: 1;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .hero-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  /*-------------------------------*/

  /*------------ MAIN С ТЕКСТОМ ---------------------*/
  .topic-title {
    margin-bottom: 10px;
  }

  .topic-text {
    margin-bottom: 20px;
  }

  .content-section .topic-text {
    margin-left: -10px;
  }

  .content-section .topic-title {
    margin-left: -10px;
  }

  .content-section {
    margin-top: 80px;
  }

  .advice-title {
    font-weight: 400;
    margin-bottom: 10px;
  }

  /*-------------------------------------------------*/

  /*--------Что снижает концентрацию внимания?------- */
  .special-content-section {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
  }

  .special-content-section-inner {
    grid-template-columns: subgrid;
  }
  /*----------------------------------------------------*/

  /*--------СЕКЦИЯ С КАРТИНКАМИ---------*/
  /*идентична с @media (width>=768px)*/
  /*----------------------------------------------------*/

  .footer {
    min-height: calc(768px - 40px);
    height: 95vh;
  }
}
